<div class="page-header">
  <center>
    <br>
  <h1><%= image_tag("mobilewrxlogo.jpg") %></h1>
  <br>
  <h5>MobileWRX is Victoria's premium online marketing tool!</h5>
</center>
</div>
<br>
<br>

<div class="row">
  <div class="span3">
    <div class="thumbnail">
    <h2 align="center">Free</h2>
    <p>This is some content about how create point 1 is. You should really use Bloccit because of it! No seriously, it really is amazing and great and you should really check it out.</p>
    <br>
    <br>
    <p align="center"><a href="#" class="btn btn-primary">Try</a></p>
  </div>
</div>
<div class="row">
  <div class="span3">
    <div class="thumbnail">
    <h2 align="center">Bronze</h2>
    <p>This is some content about how create point 1 is. You should really use Bloccit because of it! No seriously, it really is amazing and great and you should really check it out.</p>
    <br />
    <br />
    <p align="center"><a href="#" class="btn btn-primary">Buy</a></p>
  </div>
</div>
  <div class="span3">
    <div class="thumbnail">
    <h2 align="center">Gold</h2>
    <p>This is some content about how create point 2 is. You should really use Bloccit because of it! No seriously, it really is amazing and great and you should really check it out.</p>
    <br>
    <br>
    <p align="center"><a href="#" class="btn btn-primary">Buy</a></p>
  </div>
</div>
  <div class="span3">
    <div class="thumbnail">
    <h2 align="center">Platinum</h2>
    <p>This is some content about how create point 3 is. You should really use Bloccit because of it! No seriously, it really is amazing and great and you should really check it out.</p>
    <br>
    <br>
    <p align="center"><a href="#" class="btn btn-primary">Buy</a></p>
  </div>
</div>

